set $metadata_aggregator_upstream "${metadata_aggregator_upstream}";

location = /healthcheck {
  return 200;
}

location /SAML2/metadata/aggregator {
  rewrite /SAML2/metadata/aggregator/([^/]+) $1 break;
  proxy_pass $metadata_aggregator_upstream/$uri;
  default_type application/samlmetadata+xml;
}
